@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131313;
}

body::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border: 1px solid transparent;        
  cursor: grab;  
}

body::-webkit-scrollbar-track {
  border-radius:30px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #8b2801;  
  border-radius: 10px;   
}

